.pp{
    display: block;
    margin-top: 20px;
}
h1{
    margin-top: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
body{
    background-color:rgb(173, 173, 173);
    margin-left: 600px;
}
.s{
    margin-top: 20px;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    background-color:cadetblue;
}
.r{
    height: 30px;
    width: 100px;
    border-radius: 10px;
    background-color:cadetblue;
}